.vscode
Encapsulaiton/obj
Encapsulaiton/Encapsulaiton.csproj
ClassLesson.sln
Sinif-kavrami/bin
Sinif-kavrami/obj
Sinif-kavrami/Sinif-kavrami.csproj
Static-Kavrami/bin
Static-Kavrami/obj
Static-Kavrami/Static-Kavrami.csproj
Static-Kavrami/Static-Kavrami.sln
Encapsulaiton/bin
Encapsulaiton/Encapsulaiton.sln