.vscode
Encapsulaiton/obj
Encapsulaiton/Encapsulaiton.csproj
ClassLesson.sln
Sinif-kavrami/bin
Sinif-kavrami/obj
Sinif-kavrami/Sinif-kavrami.csproj
Static-Kavrami/bin
Static-Kavrami/obj
Static-Kavrami/Static-Kavrami.csproj
Static-Kavrami/Static-Kavrami.sln
Encapsulaiton/bin
Encapsulaiton/Encapsulaiton.sln
enum/bin
enum/obj
enum/enum.sln
ucgen/bin

ucgen/obj
ucgen/ucgen.csproj


enum/enum.csproj
Inheritance/bin
Inheritance/obj
Inheritance/Inheritance.csproj
Inheritance/Inheritance.sl
PhoneBookApplication/bin
PhoneBookApplication/PhoneBookApplication.sln
PhoneBookApplication/obj
PhoneBookApplication/PhoneBookApplication.csproj
Interfaces/bin
Interfaces/obj
Interfaces/Interfaces.sln
Interfaces/Interfaces.csproj
Inheritance/Inheritance.sln
ArayüzDemo/bin
ArayüzDemo/ArayüzDemo.csproj
ArayüzDemo/obj
ArayüzDemo/ArayüzDemo.sln
Aray\303\274zDemo/

DOTOList/obj
DOTOList/bin
DOTOList/DOTOList.csproj
DOTOList/DOTOList.sln